/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav {
    transition: all 0.2s;
    height: 70px;
    line-height: 70px;
    position:fixed;
    z-index:100;
    box-shadow: none;
}

.carousel{
    height: 100vh !important;
    margin:0 !important;
}

.logo-ev {

}
.full-page {
    min-height:100vh !important;
    height: auto !important;
    position:relative;
    padding:0;
    margin:0;
}
.no-margin {
    margin:0;
}

.black-white-text {
    background-color:rgb(33, 33, 33) !important;
    color: white;
}

.transparent-black-text {
    background-color: transparent;
    color:black;
}

.transparent-black-text a {
    color:black;
}

#index-banner {
    background: url(../images/cover.jpeg) 50% 50%;
    background-size: cover;
}


.person {
  margin: 0 auto;
  width:30vh;
  height:30vh;
  margin: 5vh;
  margin-bottom:8vh;
  float:left;
  overflow:hidden;
}

.person img {
    width: 100%;
}
